/* $light-grey: #c4c4c4; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 48px;
}

.wrapper {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.header {
  background-color: #eeeeee;
  padding: 0px 13.5vw;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100vw;
}

.container-menu {
  display: flex;
  border-bottom: 1px solid #473e3e;
  width: 73vw;
}

.header__menu {
  display: flex;
  margin: 0 5vw;
}

.header__menu-item {
  padding: 13px;
}

.header__location {
  padding: 15px;
}

.header__phone {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.header__row {
  width: 73vw;
  display: flex;
  padding-top: 13px;
  padding-bottom: 13px;
  gap: 40px;
}

.header__catalog {
  display: flex;
}

.catalog_disabled {
  display: flex;
  background-color: #000000;
  color: #ffffff;
  width: 130px;
  gap: 15px;
  padding: 11px;
  height: 45px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.catalog__search input {
  width: 25vw;
  height: 45px;
  padding-left: 15px;
}

.catalog__search button {
  border: none;
  height: 42px;
  width: 42px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.catalog__search button:focus {
  border-color: #311c24;
}

.logo {
  background-color: #c4c4c4;
  text-align: center;
  vertical-align: middle;
  width: 160px;
  height: 45px;
  padding: 5px;
}

.logo p {
  color: #414141;
  font-size: 10px;
}

.header__row > div:not(:first-child) {
  display: flex;
  align-items: center;
}

.img img {
  width: 24px;
  height: 24px;
}

/* выпадающий элемента меню Частые вопросы начало*/
.dropdown {
  display: none;
  position: absolute;
  top: 9vh;
  left: 0;
  background-color: #eeeeee;
  border: 1px solid black;
  z-index: 1000;
}

.dropdown ul {
  list-style: none;
  padding: 0;
  width: inherit;
}

.dropdown ul li {
  padding: 10px;
  position: inherit;
}

.header__menu-item {
  cursor: pointer;
  position: relative;
}

/* выпадающий элемента меню Частые вопросы конец*/

.blog {
  width: 73vw;
  padding-top: 13vh;
  margin-right: 0;
}

.content {
  background-color: #b0b0b0;
  width: 73vw;
  height: 300px;
  padding: 91px 0 0 40px;
}

.name-choosen {
  width: 245px;
}

.name-choosen > p:not(:last-child) {
  font-size: 12px;
  margin-bottom: 15px;
  width: 254px;
  height: 14px;
}

.name-choosen h1 {
  width: 193px;
  height: 56px;
  margin-bottom: 15px;
}

.content2 {
  padding-top: 80px;
  height: 627px;
}

.content2 h1 {
  margin-bottom: 30px;
  width: 100%;
}

.wrapper-multimedia,
.list-multimedia {
  display: flex;
}

.content2 .list-multimedia {
  display: flex;
  gap: 20px;
}

.list-multimedia .list-multimedia__item {
  width: 260px;
  height: 170px;
  gap: 20px;
  background-color: #b0b0b0;
}

.list-multimedia__item:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-multimedia__item img {
  display: flex;
  margin: 25% 43%;
}

.article-info {
  width: 73vw;
  height: 132px;
  margin: 80px 440px 80px 0;
}

.content3 h1 {
  padding-top: 80px;
}

.content3 {
  background-color: #eeeeee;
  height: 688px;
  padding: 0 13.5vw;
  display: flex;
  width: 100vw;
}

.selection-addOpt {
  width: 417.5px;
  height: 432px;
  row-gap: 20px;
  column-gap: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 43px;
}

.selection-addOpt__name {
  height: 24px;
  font-size: 18px;
}

.selection-addOpt__price {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.selection-addOpt__item {
  display: flex;
  justify-content: space-between;
}

.chosen {
  display: flex;
  gap: 31.5px;
}

.products-wrapper {
  display: flex;
  gap: 30px;
}

.products__item {
  width: 216px;
  height: 408px;
  background-color: #ffffff;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.products {
  display: flex;
  align-items: center;
}

.btn {
  width: 360px;
  height: 43px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 6px;
}

.line-back {
  margin: 13.5px;
}

.line-back:last-child,
.content2.line-back {
  display: flex;
  margin: 13.5px;
  transform: rotate(180deg);
}

.picter-bed {
  width: 216px;
  height: 216px;
  background-color: #b0b0b0;
}

.price {
  height: 23px;
  width: 70px;
}

.btn-basket {
  width: 186px;
  height: 45px;
  background-color: black;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 6px;
}

.card-text {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.content4 {
  background-color: rgb(255, 255, 255);
  height: 608px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.content4 h1 {
  margin-bottom: 30px;
}

.footer {
  width: 100%;
  height: 643px;
  background-color: #000000;
  padding-top: 47px;
  padding-left: 13.5vw;
  color: #ffffff;
}

.feedback-form {
  display: flex;
  padding-top: 72px;
  padding-bottom: 80px;
  gap: 92px;
}

.feedback-form input {
  width: 232px;
  height: 38px;
  background-color: #000000;
  color: rgb(255, 255, 255);
  border: none;
}

.feedback-form__item {
  display: flex;
  align-items: center;
  gap: 1vw;
  border-bottom: 1px solid #ffffff;
}

.footer-info {
  display: flex;
  gap: 14vw;
}

.footer-info__blog {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 18px;
}
.contacts-social {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 18px;
  font-weight: lighter;
}
.contacts {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-decoration: underline;
}
